<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="./style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/cart.css">
    <title>Cart</title>
</head>

<body>
    {{>navbar}}
   <div class="test">
        <div class="box-drop dis">
            <a href="/cart">Your Cart</a>
            <a href="#">Wishlist</a>
            <a href="#">Checkout</a>
        </div>
    </div>

    <div class="test1">
        <div class="box-drop dis">
            <h6>Welcome, {{name}}</h6>
            <a href="/acc">Your Account</a>
            <a href="#">Your Orders</a>
            <a href="/logout" class="logging-out">Log out</a>
        </div>
    </div>
<div class="shopping-cart">
    <h1>Cart</h1>
    <div class="totals">
    <div class="totals-item">
      <label>Subtotal</label>
      <div class="totals-value" id="cart-subtotal">10000</div>
    </div>
    <div class="totals-item">
      <label>Tax (5%)</label>
      <div class="totals-value" id="cart-tax">500</div>
    </div>
    <div class="totals-item">
      <label>Shipping</label>
      <div class="totals-value" id="cart-shipping">0</div>
    </div>
    
    <div class="totals-item">
      <label>Grand Total</label>
      <div class="totals-value" id="cart-total">10500</div>
    </div>
    <button class="checkout">Checkout</button>
  </div>
      
  <div class="column-labels">
    <label class="product-image">Image</label>
    <label class="product-details">Product</label>
    <label class="product-price">Price</label>
    <label class="product-quantity">Quantity</label>
    <label class="product-removal">Remove</label>
    <label class="product-line-price">Total</label>
  </div>

  <div class="product">
    <div class="product-image">
      <img src="./Images/realme TechLife.png">
    </div>
    <div class="product-details">
      <div class="product-title">Realme TechLife</div>
    </div>
    <div class="product-price">5000</div>
    <div class="product-quantity">
      <input type="number" value="1" min="1">
    </div>
    <div class="product-removal">
      <button class="remove-product">
        Remove
      </button>
    </div>
    <div class="product-line-price">5000</div>
  </div>

  <div class="product">
    <div class="product-image">
      <img src="./Images/realme Cobble Bluetooth.png">
    </div>
    <div class="product-details">
      <div class="product-title">Realme Cobble Bluetooth</div>
    </div>
    <div class="product-price">2500</div>
    <div class="product-quantity">
      <input type="number" value="2" min="1">
    </div>
    <div class="product-removal">
      <button class="remove-product">
        Remove
      </button>
    </div>
    <div class="product-line-price">5000</div>
  </div>

</div>

    {{>footer}}
    {{>fontAwesome}}

<script src="https://kit.fontawesome.com/53a3d8ca15.js" crossorigin="anonymous"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="./cart.js"></script>
<script src="/JS/index.js"></script>
<script src="/JS/cart.js"></script>
</body>

</html>