<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/liststyle.css">
  <script src="JS/clear.js" defer></script>

  <title>Ecommerce</title>

</head>

<body>

  {{>navbar}}
   <div class="test">
        <div class="box-drop dis">
            <a href="/cart">Your Cart</a>
            <a href="#">Wishlist</a>
            <a href="#">Checkout</a>
        </div>
    </div>

    <div class="test1">
        <div class="box-drop dis">
            <h6>Welcome, {{name}}</h6>
            <a href="/acc">Your Account</a>
            <a href="#">Your Orders</a>
            <a href="/logout" class="logging-out">Log out</a>
        </div>
    </div>

  <!-- main div -->
  <div class="main_div">
    <!-- filter div -->
    <div class="filters">
      <div class="reset12">
         <h4 class="heading-name">Filters</h4>
         <div class="clearall">
              <p class="clearbutton" onclick="clearall()">Clear All</p>
         </div>
      </div>
      <div class="border-line"></div>

      <div class="category">
        <details id="details" open>
          <summary> category</summary>
          <input type="checkbox" id="laptop" name="laptop">
          <label for="laptop">Laptops</label><br>
          <input type="checkbox" id="mobile" name="mobile">
          <label for="mobile">Mobiles</label><br>
          <input type="checkbox" id="watch" name="watch">
          <label for="watch">Smart Watches</label><br>
          <input type="checkbox" id="tv" name="tv">
          <label for="tv">Smart TV's</label>  
        </details>
       <div class="reset"></div>
      </div>
      <div class="border-line"></div>

      <div class="brand">
        <details id="details" open>
          <summary>  brand</summary>
          <input type="checkbox" id="apple" name="apple">
          <label for="apple">Apple</label><br>
          <input type="checkbox" id="samsung" name="samsung">
          <label for="samsung">Realme</label><br>
          <input type="checkbox" id="realme" name="realme">
          <label for="realme">Vivo</label><br>
          <input type="checkbox" id="oneplus" name="oneplus">
          <label for="oneplus">OnePlus</label><br>
          <input type="checkbox" id="samsung" name="samsung">
          <label for="samsung">Samsung</label><br>
          <input type="checkbox" id="redmi" name="redmi">
          <label for="redmi">Redmi</label> 
        </details>
       <div class="reset"></div>
      </div>
      <div class="border-line"></div>

      <div class="price">
        <details id="details" open>
          <summary>  Price</summary>
          <input type="checkbox" id="1" name="1">
          <label for="1">₹2501 - ₹5000</label><br>
          <input type="checkbox" id="2" name="2">
          <label for="2">₹5001 - ₹10000</label><br>
          <input type="checkbox" id="3" name="3">
          <label for="3">₹10001 - ₹20000</label>
          <input type="checkbox" id="4" name="4">
          <label for="4">₹20001 - ₹30000</label><br>
          <input type="checkbox" id="5" name="5">
          <label for="5">₹30001 - ₹50000</label><br>
          <input type="checkbox" id="6" name="6">
          <label for="6">₹50001 - ₹*</label> 
        </details>
       <div class="reset"></div>
      </div>
      <div class="border-line"></div>

      <div class="Rating">
        <details id="details" open>
          <summary>  Rating</summary>
          <input type="checkbox" id="R1" name="R1">
          <label for="R1">
            <span class="inline">
            </span>
            <span class="outline">4
                <img src="images/star_image.png" alt="star" class="star">
            </span>
            <p class="para">& Above</p>
          </label><br>
          <input type="checkbox" id="R2" name="R2">
          <label for="R2">
            <span class="inline">
            </span>
            <span class="outline">3
                <img src="images/star_image.png" alt="star" class="star">
            </span>
            <p class="para">& Above</p>
          </label><br>
          <input type="checkbox" id="R2" name="R2">
          <label for="R2">
            <span class="inline">
            </span>
            <span class="outline">2
                <img src="images/star_image.png" alt="star" class="star">
            </span>
            <p class="para">& Above</p>
          </label><br>
        </details>
       <div class="reset"></div>
      </div>
      <div class="border-line"></div>
      <div>
        <details id="details" open>
          <summary>  Availability</summary>
          <input type="checkbox" id="A1" name="A1">
          <label for="A1">Show in stock only</label><br> 
        </details>
       <div class="reset"></div>
      </div>
      <div class="border-line"></div>
      <div></div>

    </div>

 <!-- product div -->
    <div class="product-page">
      <div class="border-line"></div>

<!-- product1 -->     
      <div class="product-single">
        <div class="picture">
          <div class="img">
            <img src="images/800x800-Web-SKU-Size_73bb9a96-afb4-4289-b35d-1cecc9b7a7c6_1024x1024.webp" alt="hp_pavillion">
          </div>
        </div>
        <div class="productinfo_div">
          <div class="pro_info">
            <div class="pro_name">
              <h5 class="heading">realme 7 Pro (Mirror Blue, 128 GB)</h5>
            </div>
            <div class="pro_rating">
              <div class="pro_star_rating">   
              <span class="inline">
              </span>
              <span class="outline">4.4
                  <img src="images/star_image.png" alt="star" class="star">
              </span>
              </div>
              <div class="pro_num_rating">
                <span class="num_rate">53,553 Ratings</span>
                <span style="color: #878787;"> & </span>
                <span class="num_review">5,314 Reviews</span>
              </div>
            </div>
            <div class="pro_list">
              <ul>
                <li>Qualcomm Snapdragon 720G Processor</li>
                <li>8 GB RAM | 128 GB ROM | Expandable Upto 256 GB</li>
                <li>64MP + 8MP + 2MP + 2MP | 32MP Front Camera</li>
                <li>16.26 cm (6.4 inch) Full HD+ Display</li>
                <li>4500 mAh Lithium-ion Battery</li>
              </ul>
            </div>
          </div>
          <div class="pro_price">
            <div class="price_num_discount">₹20,900</div>
            <!-- <div class="price_num_actual"><del class="crosspri">₹75,990</del>
              <span class="pri_per_discount">20% off</span>
            </div> -->
            <div class="delivery">Free delivery</div>
          </div>
        </div>
      </div>
      <div class="border-line"></div>

<!-- product2 -->

<div class="product-single">
    <div class="picture mobile">
      <div class="img">
        <img src="images/Apple-12-Smartphones-491901535-i-1-1200Wx1200H.jpg" alt="mac_M1">
      </div>
    </div>
    <div class="productinfo_div">
      <div class="pro_info">
        <div class="pro_name">
            <h5 class="heading">APPLE iPhone 12 (Red, 64 GB)</h5>
        </div>
        <div class="pro_rating">
          <div class="pro_star_rating">   
          <span class="inline">
          </span>
          <span class="outline">4.6
              <img src="images/star_image.png" alt="star" class="star">
          </span>
          </div>
          <div class="pro_num_rating">
            <span class="num_rate">1,67,218 Ratings</span>
            <span style="color: #878787;"> & </span>
            <span class="num_review">11,486 Reviews</span>
          </div>
        </div>
        <div class="pro_list">
          <ul>
            <li>A14 Bionic Chip with Next Generation Neural Engine Processor</li>
            <li>64 GB ROM</li>
            <li>15.49 cm (6.1 inch) Super Retina XDR Display</li>
            <li>12MP + 12MP | 12MP Front Camera</li>
            <li>12MP TrueDepth Front Camera with Night Mode, 4K Dolby Vision HDR Recording</li>
          </ul>
        </div>
      </div>
      <div class="pro_price">
        <div class="price_num_discount">₹59,999</div>
        <div class="delivery">Free delivery</div>
      </div>
    </div>
  </div>
  <div class="border-line"></div>  
  
  
  
<div class="product-single">
  <div class="picture mobile">
    <div class="img">
      <img src="images/one1234.jpg" alt="mac_M1">
    </div>
  </div>
  <div class="productinfo_div">
    <div class="pro_info">
      <div class="pro_name">
          <h5 class="heading">OnePlus Nord CE 2 5G (Bahamas Blue, 6GB RAM, 128GB Storage)</h5>
      </div>
      <div class="pro_rating">
        <div class="pro_star_rating">   
        <span class="inline">
        </span>
        <span class="outline">4.0
            <img src="images/star_image.png" alt="star" class="star">
        </span>
        </div>
        <div class="pro_num_rating">
          <span class="num_rate">5,448 Ratings</span>
          <span style="color: #878787;"> & </span>
          <span class="num_review">486 Reviews</span>
        </div>
      </div>
      <div class="pro_list">
        <ul>
          <li> Powered by the most stable version of OxygenOS 11</li>
          <li>6 GB RAM</li>
          <li>128 GB ROM</li>
          <li>6.43 inch, 90Hz FHD+ AMOLED Display</li>
          <li>AI-infused Triple Camera – 64MP main sensor, 119° wide-angle and a 16MP selfie shooter.</li>
        </ul>
      </div>
    </div>
    <div class="pro_price">
      <div class="price_num_discount">₹23,999</div>
      <div class="delivery">Free delivery</div>
    </div>
  </div>
</div>
<div class="border-line"></div> 



<div class="product-single">
  <div class="picture mobile">
    <div class="img">
      <img src="images/sung3.jpg" alt="mac_M1">
    </div>
  </div>
  <div class="productinfo_div">
    <div class="pro_info">
      <div class="pro_name">
          <h5 class="heading">SAMSUNG Galaxy F23 5G (Forest Green, 128 GB))</h5>
      </div>
      <div class="pro_rating">
        <div class="pro_star_rating">   
        <span class="inline">
        </span>
        <span class="outline">4.1
            <img src="images/star_image.png" alt="star" class="star">
        </span>
        </div>
        <div class="pro_num_rating">
          <span class="num_rate">3,509 Ratings</span>
          <span style="color: #878787;"> & </span>
          <span class="num_review">335 Reviews</span>
        </div>
      </div>
      <div class="pro_list">
        <ul>
          <li>Qualcomm Snapdragon 750G Processor</li>
          <li>6 GB RAM</li>
          <li>128 GB ROM | Expandable Upto 1 TB</li>
          <li>16.76 cm (6.6 inch) Full HD+ Display</li>
          <li>50MP + 8MP + 2MP | 8MP Front Camera</li>
        </ul>
      </div>
    </div>
    <div class="pro_price">
      <div class="price_num_discount">₹16,999</div>
      <div class="delivery">Free delivery</div>
    </div>
  </div>
</div>
<div class="border-line"></div> 



<div class="pagination-container">
  <div class="pagination">
      <a href="#" class="pagination-hover"><i class="bi bi-chevron-double-left"></i></a>
      <a href="#" class="pagination-hover">1</a>
      <a href="#" class="pagination-hover">2</a>
      <a href="#" class="pagination-hover">3</a>
      <a href="#" class="pagination-hover">4</a>
      <a href="#" class="pagination-hover">5</a>
      <a href="#" class="pagination-hover">6</a>
      <a href="#" class="pagination-hover"><i class="bi bi-chevron-double-right"></i></a>
  </div>
</div>

