<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

  <link rel="stylesheet" href="css/header.css">
  <link rel="stylesheet" href="css/liststyle.css">
  <script src="/JS/clear.js" defer></script>

  <title>Ecommerce</title>

</head>

<body>

  {{>navbar}}
   <div class="test">
        <div class="box-drop dis">
            <a href="/cart">Your Cart</a>
            <a href="#">Wishlist</a>
            <a href="#">Checkout</a>
        </div>
    </div>

    <div class="test1">
        <div class="box-drop dis">
            <h6>Welcome, {{name}}</h6>
            <a href="/acc">Your Account</a>
            <a href="#">Your Orders</a>
            <a href="/logout" class="logging-out">Log out</a>
        </div>
    </div>


  <!-- main div -->
  <div class="main_div">
    <!-- filter div -->
    <div class="filters">
      <div class="reset12">
         <h4 class="heading-name">Filters</h4>
         <div class="clearall">
              <p class="clearbutton" onclick="clearall()">Clear All</p>
         </div>
      </div>
      <div class="border-line"></div>

      <div class="category">
        <details id="details" open>
          <summary> category</summary>
          <input type="checkbox" id="laptop" name="laptop">
          <label for="laptop">Laptops</label><br>
          <input type="checkbox" id="mobile" name="mobile">
          <label for="mobile">Mobiles</label><br>
          <input type="checkbox" id="watch" name="watch">
          <label for="watch">Smart Watches</label><br>
          <input type="checkbox" id="tv" name="tv">
          <label for="tv">Smart TV's</label>  
        </details>
       <div class="reset"></div>
      </div>
      <div class="border-line"></div>

      <div class="brand">
        <details id="details" open>
          <summary>  brand</summary>
          <input type="checkbox" id="lg" name="lg">
          <label for="lg">Lg</label><br>
          <input type="checkbox" id="Sony" name="Sony">
          <label for="Sony">Sony</label><br>
          <input type="checkbox" id="Vu" name="Vu">
          <label for="Vu">Vu</label><br>
          <input type="checkbox" id="mi" name="mi">
          <label for="mi">Mi</label><br>
          <input type="checkbox" id="samsung" name="samsung">
          <label for="samsung">Samsung</label><br>
          <input type="checkbox" id="oneplus" name="oneplus">
          <label for="oneplus">OnePlus</label> 
        </details>
       <div class="reset"></div>
      </div>
      <div class="border-line"></div>

      <div class="price">
        <details id="details" open>
          <summary>  Price</summary>
          <input type="checkbox" id="1" name="1">
          <label for="1">₹2501 - ₹5000</label><br>
          <input type="checkbox" id="2" name="2">
          <label for="2">₹5001 - ₹10000</label><br>
          <input type="checkbox" id="3" name="3">
          <label for="3">₹10001 - ₹20000</label>
          <input type="checkbox" id="4" name="4">
          <label for="4">₹20001 - ₹30000</label><br>
          <input type="checkbox" id="5" name="5">
          <label for="5">₹30001 - ₹50000</label><br>
          <input type="checkbox" id="6" name="6">
          <label for="6">₹50001 - ₹*</label>  
        </details>
       <div class="reset"></div>
      </div>
      <div class="border-line"></div>

      <div class="Rating">
        <details id="details" open>
          <summary>  Rating</summary>
          <input type="checkbox" id="R1" name="R1">
          <label for="R1">
            <span class="inline">
            </span>
            <span class="outline">4
                <img src="images/star_image.png" alt="star" class="star">
            </span>
            <p class="para">& Above</p>
          </label><br>
          <input type="checkbox" id="R2" name="R2">
          <label for="R2">
            <span class="inline">
            </span>
            <span class="outline">3
                <img src="images/star_image.png" alt="star" class="star">
            </span>
            <p class="para">& Above</p>
          </label><br>
          <input type="checkbox" id="R2" name="R2">
          <label for="R2">
            <span class="inline">
            </span>
            <span class="outline">2
                <img src="images/star_image.png" alt="star" class="star">
            </span>
            <p class="para">& Above</p>
          </label><br>
        </details>
       <div class="reset"></div>
      </div>
      <div class="border-line"></div>
      <div>
        <details id="details" open>
          <summary>  Availability</summary>
          <input type="checkbox" id="A1" name="A1">
          <label for="A1">Show in stock only</label><br> 
        </details>
       <div class="reset"></div>
      </div>
      <div class="border-line"></div>
      <div></div>

  </div>

 <!-- product div -->
    <div class="product-page">
      <div class="border-line"></div>

<!-- product1 -->     
      <div class="product-single">
        <div class="picture">
          <div class="img">
            <img src="images/lg2.webp" alt="hp_pavillion">
          </div>
        </div>
        <div class="productinfo_div">
          <div class="pro_info">
            <div class="pro_name">
              <h5 class="heading">LG OLED A1 Series 139 cm (55 inch) OLED Ultra HD (4K) Smart TV</h5>
            </div>
            <div class="pro_rating">
              <div class="pro_star_rating">   
              <span class="inline">
              </span>
              <span class="outline">4.1
                  <img src="images/star_image.png" alt="star" class="star">
              </span>
              </div>
              <div class="pro_num_rating">
                <span class="num_rate">24 Ratings</span>
                <span style="color: #878787;"> & </span>
                <span class="num_review">5 Reviews</span>
              </div>
            </div>
            <div class="pro_list">
              <ul>
                <li>Ultra HD (4K) 3840 x 2160 Pixels</li>
                <li>40W Speaker Output</li>
                <li>120 Hz Refresh Rate</li>
                <li>4 x HDMI | 3 x USB</li>
                <li>1 Year LG India Comprehensive Warranty and Additional 1 Year Warranty is Applicable on Panel/Module</li>
              </ul>
            </div>
          </div>
          <div class="pro_price">
            <div class="price_num_discount">₹1,07,950</div>
            <div class="price_num_actual"><del class="crosspri">₹1,89,990</del>
              <span class="pri_per_discount">43% off</span>
            </div>
            <div class="delivery">Free delivery</div>
          </div>
        </div>
      </div>
      <div class="border-line"></div>

     





<!-- product2 -->

<div class="product-single">
    <div class="picture mobile">
      <div class="img">
        <img src="images/sony.jpg" alt="mac_M1">
      </div>
    </div>
    <div class="productinfo_div">
      <div class="pro_info">
        <div class="pro_name">
            <h5 class="heading">SONY BRAVIA 80 cm (32 inch) HD Ready LED Smart TV</h5>
        </div>
        <div class="pro_rating">
          <div class="pro_star_rating">   
          <span class="inline">
          </span>
          <span class="outline">4.6
              <img src="images/star_image.png" alt="star" class="star">
          </span>
          </div>
          <div class="pro_num_rating">
            <span class="num_rate">3,986 Ratings</span>
            <span style="color: #878787;"> & </span>
            <span class="num_review">671 Reviews</span>
          </div>
        </div>
        <div class="pro_list">
          <ul>
            <li>Netflix|Prime Video|Youtube</li>
            <li>Operating System: Linux based</li>
            <li>HD Ready 1366 x 768 Pixels</li>
            <li>20 W Speaker Output</li>
            <li>50 Hz Refresh Rate</li>
          </ul>
        </div>
      </div>
      <div class="pro_price">
        <div class="price_num_discount">₹23,999</div>
        <div class="price_num_actual"><del class="crosspri">₹29,900</del>
            <span class="pri_per_discount">19% off</span>
          </div>
        <div class="delivery">Free delivery</div>
      </div>
    </div>
  </div>
  <div class="border-line"></div>  
  
  
<div class="product-single">
  <div class="picture mobile">
    <div class="img">
      <img src="images/mi.jpg" alt="mac_M1">
    </div>
  </div>
  <div class="productinfo_div">
    <div class="pro_info">
      <div class="pro_name">
          <h5 class="heading">Mi 4A Horizon Edition 100 cm (40 inch) Full HD LED Smart Android TV</h5>
      </div>
      <div class="pro_rating">
        <div class="pro_star_rating">   
        <span class="inline">
        </span>
        <span class="outline">4.3
            <img src="images/star_image.png" alt="star" class="star">
        </span>
        </div>
        <div class="pro_num_rating">
          <span class="num_rate">30,777 Ratings</span>
          <span style="color: #878787;"> & </span>
          <span class="num_review">3,000 Reviews</span>
        </div>
      </div>
      <div class="pro_list">
        <ul>
          <li>Netflix|Prime Video|Disney+Hotstar|Youtube</li>
          <li>Operating System: Android</li>
          <li>Full HD 1920 x 1080 Pixels</li>
          <li>20 W Speaker Output</li>
          <li>60 Hz Refresh Rate</li>
        </ul>
      </div>
    </div>
    <div class="pro_price">
      <div class="price_num_discount">₹22,999</div>
      <div class="price_num_actual"><del class="crosspri">₹29,999</del>
        <span class="pri_per_discount">23% off</span>
      </div>
      <div class="delivery">Free delivery</div>
    </div>
  </div>
</div>
<div class="border-line"></div> 

<div class="product-single">
  <div class="picture mobile">
    <div class="img">
      <img src="images/one.webp" alt="mac_M1">
    </div>
  </div>
  <div class="productinfo_div">
    <div class="pro_info">
      <div class="pro_name">
          <h5 class="heading">OnePlus Y1 100 cm (40 inch) Full HD LED Smart Android TV</h5>
      </div>
      <div class="pro_rating">
        <div class="pro_star_rating">   
        <span class="inline">
        </span>
        <span class="outline">4.0
            <img src="images/star_image.png" alt="star" class="star">
        </span>
        </div>
        <div class="pro_num_rating">
          <span class="num_rate">3,242 Ratings</span>
          <span style="color: #878787;"> & </span>
          <span class="num_review">7,519 Reviews</span>
        </div>
      </div>
      <div class="pro_list">
        <ul>
          <li>Netflix|Prime Video|Disney+Hotstar|Youtube</li>
          <li>Operating System: Android</li>
          <li>Full HD 1920 x 1080 Pixels</li>
          <li>20 W Speaker Output</li>
          <li>60 Hz Refresh Rate</li>
        </ul>
      </div>
    </div>
    <div class="pro_price">
      <div class="price_num_discount">₹22,999</div>
      <div class="price_num_actual"><del class="crosspri">₹27,999</del>
        <span class="pri_per_discount">17% off</span>
      </div>
      <div class="delivery">Free delivery</div>
    </div>
  </div>
</div>
<div class="border-line"></div> 



<div class="pagination-container">
    <div class="pagination">
        <a href="#" class="pagination-hover"><i class="bi bi-chevron-double-left"></i></a>
        <a href="#" class="pagination-hover">1</a>
        <a href="#" class="pagination-hover">2</a>
        <a href="#" class="pagination-hover">3</a>
        <a href="#" class="pagination-hover">4</a>
        <a href="#" class="pagination-hover">5</a>
        <a href="#" class="pagination-hover">6</a>
        <a href="#" class="pagination-hover"><i class="bi bi-chevron-double-right"></i></a>
    </div>

  

  </div>
  {{>footer}}
  {{>fontAwesome}}
  <script src="/JS/index.js"></script>

</body>