<footer class="footer">
    <div class="footer10-container">
        <div class="footer20-row">
            <div class="icons">
                <div class="icon"><a href="#"><i class="bi bi-telephone fa-2x"></i></a></div>
                <div>
                    <p style="margin-top: 20px; text-align: center;">8978808123</p>
                </div>
            </div>
            <div class="icons">
                <div class="icon"><a href="#"><i class="bi bi-envelope fa-2x"></i></a></div>
                <div>
                    <p style="margin-top: 20px; text-align:left;" class="ecommerce-mail">ecommerce123@gmail.com</p>
                </div>
            </div>
            <div class="icons">
                <div class="icon"><a href="#"><i class="bi bi-geo-alt fa-2x"></i></a></div>
                <div>
                    <p style="margin-top: 20px;">sricity,513426</p>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div class="footer11-container">

        <div class="hl"></div>

        <div class="footer21-row">
            <div class="footer2-col" id="footer2-col-email" style="flex-basis: 400px">
                <label for="email"
                    style="text-transform: uppercase;font-size: 1.25rem; padding: 1.5px; margin: 10px 10px 10px 10px;color: #efefef;">Let's
                    stay in
                    touch(Newsletter)
                </label><br>
                <input type="email" name="email" id="email" class="email-footer" placeholder="Email address">
                <p style="font-size: 1rem; padding: 1.5px; margin: 10px 10px 10px 10px;color: #efefef;">Get
                    updates
                    in your mailbox</p>
            </div>

            <div class="footer2-col">
                <div class="footer3"><span class="fff" style="font-weight: 700;">ABOUT</span>
                    <div class="footer4">
                        <div><a class="about" href="">Contact Us</a></div>
                        <div><a class="about" href="">Careers</a></div>
                        <div><a class="about" href="">Corporate Information</a></div>
                    </div>
                </div>
            </div>
            <div class="footer2-col">
                <div class="footer3"><span style="font-weight: 700;">HELP</span>
                    <div class="footer4">
                        <div> <a class="help" href="">Payments</a></div>
                        <div><a class="help" href="">Shipping</a></div>
                        <div><a class="help" href="">Cancellation & Returns</a></div>
                        <div> <a class="help" href="">FAQ</a></div>
                    </div>
                </div>
            </div>
            <div class="footer2-col">
                <div class="footer3"><span style="font-weight: 700;">POLICY</span>
                    <div class="footer4">
                        <div> <a class="help" href="">FAQ</a></div>
                        <div> <a class="policy" href="">Terms Of Use</a></div>
                        <div><a class="policy" href="">Security</a></div>
                        <div> <a class="policy" href="">Privacy</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="footer12-container">
        <div class="footer2-col" id="footer2-col-social-links">
            <div class="social-links">
                <div><a href="#"><i class="fab fa-facebook-f"></i></a></div>
                <div><a href="#"><i class="fab fa-twitter"></i></a></div>
                <div><a href="#"><i class="fab fa-instagram"></i></a></div>
                <div><a href="#"><i class="fab fa-linkedin-in"></i></a></div>
            </div>
        </div>
    </div>
</footer>