    <header>
        <img src="./Images/bg.jpg" alt="">
        <form>
            <h3>Login Here</h3>

            <label for="email">Email</label>
            <input type="email" name="" id="email" placeholder="Email">
            <br>
            <label for="pwd">Password</label>
            <input type="password" name="" id="pwd" placeholder="Password">

            <button type="submit">Log in</button>
        </form>
    </header>