<nav class="nav">
    <div class="logo">
        <a href="" class="black font-poppin">TECH</a>
    </div>

    <div class="dropdown products">
        <button class="btn btn-close-white dropbtn" id="dropdownMenuButton" >Products</button>
        <div class="dropdown-content dis">
            <a href="/watches" class = "watches">Smart Watches</a>
            <a href="/mobiles" id="mob">Mobiles</a>
            <a href="/laptop">Laptops</a>
            <a href="/TV">Smart TV</a>
            <a href="#">Accessories</a>
        </div>
    </div>

    <div class="search">
        <input type="search black font-poppin" name="search" id="search-header" placeholder="Search...">
    </div>

    <ul class="nav-list">
        <li class="item  font-poppin"><a href="#" class="font-poppin black">Home</a></li>
        <li class="item  font-poppin"><a href="#" class="font-poppin black">Contact</a></li>
        <li class="item"><i class="fa-solid fa-bag-shopping purple cart-link"></i></li>
        <li class="item "><i class="fa-solid fa-user purple user-icon"></i></li>
    </ul>
</nav>