
        {{!-- <div class="products">
            <div class="btn-group" role="group">
                <button id="btnGroupDrop1" type="button" class="btn btn-close-white dropdown-toggle font-poppin black" data-bs-toggle="dropdown" aria-expanded="false">
                  Products
                </button>
                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1" aria-expanded="false">
                  <li><a class="dropdown-item" href="#">Smart Phones</a></li>
                  <li><a class="dropdown-item" href="#">Tablets</a></li>
                  <li><a class="dropdown-item" href="#">Smart Watches</a></li>
                  <li><a class="dropdown-item" href="#">Speakers</a></li>
                </ul>
              </div>
        </div> --}}
        {{!-- <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Products
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
        </div> --}}
